
    <div class="condition-content">
      <ng-container *ngIf="selectedRule.when; then conditionContainer; else emptyCondition;"></ng-container>
      <ng-template #conditionContainer>
        <acp-logical-operator-interval *ngIf="selectedRule.when?.logicalOperator" 
        [isCheckedAndOr]="getLogicialOperator()" [logicialOperator]="selectedRule?.when?.logicalOperator!" [actionList]="intervalActions" (isCheckedAndOrChange)="setLogicialOperator($event)"
        cdkDropList>
        <div *ngFor="let compare of selectedRule?.when?.compares; let compareIndex = index" cdkDrag>
          <acp-ui-predicat [leftSideItem]="getSelectedItem(compare.leftHandSide)" [rightSideItem]="getSelectedItem(compare.rightHandSide)" [operatorItem]="getOperator(compare.operator)"
            [dropdownObject]="dropdownObject"
            [listOfRightSideItems]="['screenJson.field']" [listOfLeftSideItems]="['screenJson.field']" [listOfOperators]="operators"
            (deletePredicate)="deletePredicate(compareIndex)"
            (leftSideItemChange)="setItem($event,compareIndex,'left')"
            (rightSideItemChange)="setItem($event,compareIndex,'right')"
            (operatorItemChange)="setItem($event,compareIndex,'middle')"
             (valueChange)="getInputChanges($event,compareIndex)"
            (clickOrigin)="setPredicateClickOrigin($event)"
            ></acp-ui-predicat>
        </div>
        <app-condition *ngIf="condition" [condition]="condition"></app-condition>
        </acp-logical-operator-interval>
      </ng-template>
      <ng-template #emptyCondition>
        <div class="condition-choice">
          Choose new condition
          <span class="tag" (click)="addFirstCondition('and')">AND</span>
           or <span class="tag" (click)="addFirstCondition('or')">OR</span>
           to begin
        </div>
      </ng-template>
      </div>
    