:host {
  position: absolute;
  top: 35%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #D2D6E0;
  border: 1px solid #D2D6E0;

  &.in {
    left: -5px;
    top: 45%;
  }

  &.out {
    right: -5px;
  }
}
