<div class="tool-bar-content">
    <div class="overflow-hidden" [ngClass]="[itemType === 'policy' ? 'added-button' : '']">
      <acp-ui-button  class="btn-add-ruleset" [icon]="'icon-add'" [style]="'btn-icon-only'" title="Add new node" (acpUiclick)="addItem()" ></acp-ui-button>
        <acp-ui-tabs [tabsList]="itemTabsList" [inputPosition]="'verticalLeft'">
          <ng-template let-tab #tabs>
            <ng-template  [ngIf]="tab.component === 'Summary' && itemType === 'ruleset'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                      <h4 class="tab__title" title="Summary">Summary</h4>
                      <span class="tab__number-items" title="Number of items">{{rules.length}}</span>
                  </div>
                  <acp-ui-button title="Search" [icon]="'icon-search'" [style]="'btn-icon-only'" (acpUiclick)="hideShowSearchRuleInput=!hideShowSearchRuleInput"></acp-ui-button>
                </div>
                <div class="search">
                  <acp-ui-input *ngIf="hideShowSearchRuleInput" title="Search" [placeHolder]="'Search'" [(value)]="searchRule"></acp-ui-input>
                </div>
              </div>
              <div cdkDropList class="content content__summary scrollbar" (cdkDropListDropped)="drop($event)">
                  <acp-ui-card  cdkDrag [cdkDragDisabled]="status" *ngFor="let rule of rules | filter: searchRule; let index = index" [state]="setState(rule)" [header]="true" [footer]="false" [stateTitle]="ruleStateTitle(rule)" [itemsDropdownObject]="ruleOptions" (dropdownSelectedItem)="getSelectedObjectFromRuleDropdown($event,index)" (click)="selectRule(index)">
                    <div header>
                      <acp-ui-input title="Title" [placeHolder]="'Title'" [(value)]="rule.name" [disabled]="status"></acp-ui-input>
                  </div>
                  <div body>
                    <!-- {{rule.description}} -->
                      <acp-ui-input title="Description" [placeHolder]="'Description'" [(value)]="rule.description" [disabled]="status"></acp-ui-input>
                  </div>
                  </acp-ui-card>
              </div>

              <acp-ui-button title="Add new rule" [label]="'Add new rule'" [icon]="'icon-add'" [style]="'btn-white btn-add'" (acpUiclick)="addRule()" [disabled]="status"></acp-ui-button>

            </ng-template>

            <ng-template [ngIf]="tab.component === 'Data'">
                <div class="tab__header">
                  <div class="title">
                    <div class="tab__header-left">
                      <h4 class="tab__title" title="Data">Screen</h4>
                    </div>
                      <acp-ui-button title="search" [icon]="'icon-search'" [style]="'btn-icon-only'" (acpUiclick)="hideShowSearchVocabInput=!hideShowSearchVocabInput"></acp-ui-button>
                  </div>
                  <div class="search">
                    <acp-ui-input *ngIf="hideShowSearchVocabInput" title="Search" [placeHolder]="'Search'" [(value)]="searchVocab"></acp-ui-input>
                  </div>
                </div>
                <div class="content scrollbar">
                  <div class="content__data">
                    <div *ngIf="inputs.length > 0" class="data__collapse">
                      <acp-ui-button title="Input" class="btn-collapse" [label]="'Input'" [icon]="'icon-arrow'" [iconPosition]="'right'" title="Input" [collapse]="input"></acp-ui-button>
                      <div collapseContent #input="collapseContent" class="show">
                        <ul class="collapse-items">
                            <li *ngFor="let input of inputs | filter: searchVocab;let index = index" class="item" title="Value">
                              <div class="item__label">
                                <acp-ui-icon class="icon" [icon]="input?.type | iconType" ></acp-ui-icon>
                                <span class="collapse__label">{{input.name}}</span>
                              </div>
                              <div class="item--actions">
                                <acp-ui-dropdown *ngIf="!getItemStatus" [dropdownObject]="vocabulariesOptions" title="Add ruleset" (selectedItem)="getSelectedAction(input,$event)"></acp-ui-dropdown>
                              </div>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="outputs.length > 0" class="data__collapse">
                      <acp-ui-button title="Output" class="btn-collapse" [label]="'Output'" [icon]="'icon-arrow'" [iconPosition]="'right'" title="Output" [collapse]="output"></acp-ui-button>
                      <div collapseContent #output="collapseContent">
                        <ul class="collapse-items">
                            <li *ngFor="let output of outputs | filter: searchVocab;let index = index" class="item" title="Value">
                              <div class="item__label">
                                <acp-ui-icon class="icon" [icon]="output?.type | iconType"></acp-ui-icon>
                                <span class="collapse__label">{{output.name}}</span>
                              </div>
                              <div class="item--actions">
                                <acp-ui-dropdown *ngIf="!getItemStatus" [dropdownObject]="vocabulariesOptions" title="Add ruleset" (selectedItem)="getSelectedAction(output,$event)"></acp-ui-dropdown>
                              </div>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="locals.length > 0" class="data__collapse">
                      <acp-ui-button title="Local" class="btn-collapse" [label]="'Local'" [icon]="'icon-arrow'" [iconPosition]="'right'" title="Local" [collapse]="local"></acp-ui-button>
                      <div collapseContent #local="collapseContent">
                        <ul class="collapse-items">
                            <li *ngFor="let local of locals | filter: searchVocab;let index = index" class="item" title="Value">
                              <div class="item__label">
                                <acp-ui-icon class="icon" [icon]="local?.type | iconType"></acp-ui-icon>
                                <span class="collapse__label">{{local.name}}</span>
                              </div>
                              <div class="item--actions">
                                <acp-ui-dropdown *ngIf="!getItemStatus" [dropdownObject]="vocabulariesOptions" title="Add ruleset" (selectedItem)="getSelectedAction(local,$event)"></acp-ui-dropdown>
                              </div>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Details'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <div class="forArray2"  >
                      <table>
                        <tr *ngFor="let field of screenJson.field"   
                        draggable="true"
                        [attr.data-type]="field" 
                        (dragstart)="onBlockDrag($event,field)">
                          <td>{{field.en.display}}</td>
                          <td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Compare'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Compare">Compare</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__compare">
                    <acp-ui-select title="Policy Name"></acp-ui-select>
                    <acp-ui-select title="Version"></acp-ui-select>
                    <div class="action-bar">
                      <acp-ui-button title="Compare" [icon]="'icon-compare'" [label]="'Compare'" [style]="'btn-primary'"></acp-ui-button>
                    </div>
                    <!-- <h4  class="title">Recently used</h4> -->
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Template'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Template">Template</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__template">
                    <acp-ui-input title="Template Name" [label]="'Rename your template'" [placeHolder]="'TemplateName'"></acp-ui-input>
                    <span class="caracter-tag" title="Number of caracters">20</span>
                    <div class="action-bar">
                      <acp-ui-button title="Save" [icon]="'icon-check'" [label]="'Save'" [style]="'btn-primary'"></acp-ui-button>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Screenshot'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Screenshot">Screenshot</h4>
                  </div>
                </div>
              </div>
              <div class="content scrollbar">
                <div class="content__screenshot">
                  <img src="../../../assets/images/screenshot.svg">
                  <div class="action-bar">
                    <acp-ui-button title="Via e-mail" [icon]="'icon-check'" [label]="'Via email'" [style]="'btn-transparent'"></acp-ui-button>
                    <acp-ui-button title="Download" [icon]="'icon-save'" [label]="'Download as png'" [style]="'btn-primary'"></acp-ui-button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Share'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Share">Share</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__share">
                    <h4  class="title">Share with collegue</h4>
                    <acp-ui-input title="Add name or email" [label]="'Add name or email'"></acp-ui-input>
                    <acp-ui-input title="Get link" [label]="'Get link'" class="input-link" value="https://brm/document/d/1Hg2pUMN1EuUCnMuPlLHjfgfdg"></acp-ui-input>
                    <div class="action-bar">
                      <acp-ui-button title="Copy link" [icon]="'icon-check'" [label]="'Copy link'" [style]="'btn-transparent'"></acp-ui-button>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Export'">
              <div class="tab__header">
                <div class="title">
                <div class="tab__header-left">
                  <h4 class="tab__title" title="Export">Export</h4>
                </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <acp-ui-select title="Choose an extension"></acp-ui-select>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Tags'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Tags">Tags</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__tags">
                    <acp-ui-input title="Choose an extension" [label]="'Add tag'" [placeHolder]="'Press entry to add'"></acp-ui-input>
                    <div class="tags">
                      <acp-ui-badge title="Age" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Age'"></acp-ui-badge>
                      <acp-ui-badge title="Customer" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Customer'"></acp-ui-badge>
                      <acp-ui-badge title="50" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'50'"></acp-ui-badge>
                      <acp-ui-badge title="Adult" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Adult'"></acp-ui-badge>
                    </div>
                    <acp-ui-button title="Clear all" [icon]="'icon-close'" [label]="'Clear all'" [style]="'btn-transparent'"></acp-ui-button>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Help'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Help">Help</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                </div>
            </ng-template>
          </ng-template>
        </acp-ui-tabs>
    </div>
    <acp-ui-button title="Expand" class="btn-expanded" [icon]="'icon-arrow'" [style]="'btn-icon-only btn-silver'" (click)="openCloseToolbar()" [ngClass]="{'btn-expanded__animate': hideShowToolbar}"></acp-ui-button>
</div>

