<div class="tool-bar-content">
    <div class="overflow-hidden" [ngClass]="[itemType === 'policy' ? 'added-button' : '']">
      <acp-ui-button  class="btn-add-ruleset" [icon]="'icon-add'" [style]="'btn-icon-only'" title="Add new node" (acpUiclick)="addItem()" ></acp-ui-button>
        <acp-ui-tabs [tabsList]="itemTabsList" [inputPosition]="'verticalLeft'">
          <ng-template let-tab #tabs>
            <ng-template  [ngIf]="tab.component === 'Summary' && itemType === 'ruleset'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                      <h4 class="tab__title" title="Summary">Summary</h4>
                      <span class="tab__number-items" title="Number of items">{{rules.length}}</span>
                  </div>
                  <acp-ui-button title="Search" [icon]="'icon-search'" [style]="'btn-icon-only'" (acpUiclick)="hideShowSearchRuleInput=!hideShowSearchRuleInput"></acp-ui-button>
                </div>
                <div class="search">
                  <acp-ui-input *ngIf="hideShowSearchRuleInput" title="Search" [placeHolder]="'Search'" [(value)]="searchRule"></acp-ui-input>
                </div>
              </div>
              <div cdkDropList class="content content__summary scrollbar" (cdkDropListDropped)="drop($event)">
                  <acp-ui-card  cdkDrag [cdkDragDisabled]="status" *ngFor="let rule of rules | filter: searchRule; let index = index" [state]="setState(rule)" [header]="true" [footer]="false" [stateTitle]="ruleStateTitle(rule)" [itemsDropdownObject]="ruleOptions" (dropdownSelectedItem)="getSelectedObjectFromRuleDropdown($event,index)" (click)="selectRule(index)">
                    <div header>
                      <acp-ui-input title="Title" [placeHolder]="'Title'" [(value)]="rule.name" [disabled]="status"></acp-ui-input>
                  </div>
                  <div body>
                    <!-- {{rule.description}} -->
                      <acp-ui-input title="Description" [placeHolder]="'Description'" [(value)]="rule.description" [disabled]="status"></acp-ui-input>
                  </div>
                  </acp-ui-card>
              </div>

              <acp-ui-button title="Add new rule" [label]="'Add new rule'" [icon]="'icon-add'" [style]="'btn-white btn-add'" (acpUiclick)="addRule()" [disabled]="status"></acp-ui-button>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Data'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <div class="forArray2"  >
                      Screens 

                      <hr>
                      <table>
                        <tr *ngFor="let screen of screens;let index=index"   
                        draggable="true"
                        [attr.data-type]="screen" 
                        (dragstart)="onBlockDrag($event,screen)">
                          <td (click)="getComponentsOfScreen(index)">{{screen.en.display}}</td>
                        </tr>
                        <ul>
                          <li>
                            <button type="button"  (click)="addItem()">consumer</button>
                          </li>
                        </ul>
                      </table>
                      <table>
                        <tr >

                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Details'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <div class="forArray2"  >
                      Components
                      <hr>
                      <table>
                        <tr *ngFor="let field of components"   
                        draggable="true"
                        [attr.data-type]="field" 
                        (dragstart)="onBlockDrag($event,field)">
                          <td>{{field.en.display}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Compare'">
              list of conditions 
              <div>
               <input type="text" (change)="searchCondition($event)" class="m-2 form-control" placeholder="Search by custom.." style="width: 40%;">
              </div>
              
             
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Template'">
              list of actions
              <table class="table table striped"> 
              <thead>
                <th>Id</th>
                <th>Display</th>
                <th>Value</th>
                <th>Action Type</th>
                <th>conditionID</th>
                </thead>
              <tbody>
              <tr *ngFor="let act of actionslist"> 
                <td>{{act.actionID}}</td>
                <td>{{act.actionDisplay}}</td>
                <td>{{act.value}}</td>
                <td>{{act.actionTypeID}}</td>
                <td>{{act.conditionID}}</td>
                <td>  
                  <button class="btn btn outline-primary me-2 mb-1 "
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
                  <button class="btn btn outline-danger me-2 mb-1" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                  </button>
                </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Screenshot'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Screenshot">Screenshot</h4>
                  </div>
                </div>
              </div>
              <div class="content scrollbar">
                <div class="content__screenshot">
                  <img src="../../../assets/images/screenshot.svg">
                  <div class="action-bar">
                    <acp-ui-button title="Via e-mail" [icon]="'icon-check'" [label]="'Via email'" [style]="'btn-transparent'"></acp-ui-button>
                    <acp-ui-button title="Download" [icon]="'icon-save'" [label]="'Download as png'" [style]="'btn-primary'"></acp-ui-button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Share'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Share">Share</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__share">
                    <h4  class="title">Share with collegue</h4>
                    <acp-ui-input title="Add name or email" [label]="'Add name or email'"></acp-ui-input>
                    <acp-ui-input title="Get link" [label]="'Get link'" class="input-link" value="https://brm/document/d/1Hg2pUMN1EuUCnMuPlLHjfgfdg"></acp-ui-input>
                    <div class="action-bar">
                      <acp-ui-button title="Copy link" [icon]="'icon-check'" [label]="'Copy link'" [style]="'btn-transparent'"></acp-ui-button>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Export'">
              <div class="tab__header">
                <div class="title">
                <div class="tab__header-left">
                  <h4 class="tab__title" title="Export">Export</h4>
                </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <acp-ui-select title="Choose an extension"></acp-ui-select>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Tags'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Tags">Tags</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                  <div class="content__tags">
                    <acp-ui-input title="Choose an extension" [label]="'Add tag'" [placeHolder]="'Press entry to add'"></acp-ui-input>
                    <div class="tags">
                      <acp-ui-badge title="Age" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Age'"></acp-ui-badge>
                      <acp-ui-badge title="Customer" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Customer'"></acp-ui-badge>
                      <acp-ui-badge title="50" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'50'"></acp-ui-badge>
                      <acp-ui-badge title="Adult" [icon]="'badge__icon icon-close'" [iconPosition]="'right'" [style]="'badge-success'" [label]="'Adult'"></acp-ui-badge>
                    </div>
                    <acp-ui-button title="Clear all" [icon]="'icon-close'" [label]="'Clear all'" [style]="'btn-transparent'"></acp-ui-button>
                  </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="tab.component === 'Help'">
              <div class="tab__header">
                <div class="title">
                  <div class="tab__header-left">
                    <h4 class="tab__title" title="Help">Help</h4>
                  </div>
                </div>
              </div>
                <div class="content scrollbar">
                </div>
            </ng-template>
          </ng-template>
        </acp-ui-tabs>
    </div>
    <acp-ui-button title="Expand" class="btn-expanded" [icon]="'icon-arrow'" [style]="'btn-icon-only btn-silver'" (click)="openCloseToolbar()" [ngClass]="{'btn-expanded__animate': hideShowToolbar}"></acp-ui-button>
</div>

