
<section class="full-section home-section">
  <!----------- ACTION BAR ----------->
  <div class="action-bar action-bar__top">
    <!-- ACTIONS LEFT -->
    <div class="action-bar__left">
      <acp-ui-button [icon]="'icon-arrow-left'" [style]="'btn-icon-only'" [title]="'Return'"></acp-ui-button>
      <div class="divider"></div>
    </div>
    <div class="action-bar__middle">
    <acp-ui-sidebar [topItems]="topItems" [sidebarStatus]="true" [logoPath]="'assets/icons/menu.svg'"></acp-ui-sidebar>   
          </div>
          <div class="action-bar__right">
            <div class="actions">
              <acp-ui-button [icon]="'icon-shield'" [style]="'btn-icon-only'" title="Validation"></acp-ui-button>
              <acp-ui-button [icon]="'icon-duplicate'" [style]="'btn-icon-only'" title="Duplicate" ></acp-ui-button>
              <acp-ui-button [icon]="'icon-fullscreen'" [style]="'btn-icon-only'" title="Fullscreen"></acp-ui-button>
            </div>
            <acp-ui-button [icon]="'icon-save'" [label]="'Save'" [style]="'btn-secondary'" title="Save" (acpUiclick)="saveCustomBehavior()"></acp-ui-button>
            
             <div class="forArray2"  >
              <table>
                
                <tr *ngFor="let field of fields"   
                draggable="true"
                [attr.data-type]="field"
                (dragstart)="onBlockDrag($event,field)" >
                  <td>{{field.en.display}}</td>
                  <td>
                </tr>
              </table>
            </div>
          </div>
          </div>
          <div class="policy-composer-content">
            <!------------ TOOLBAR LEFT ------------>
            <!------------ PAGE CONTENT RIGHT ------------>
            <div class="content__right">
              <acp-ui-diagram class="diagram" [model]="diagramModel" (drop)="onBlockDropped($event)"
              (dragover)="$event.preventDefault()">  
            </acp-ui-diagram>
            </div>
          </div>
        </section>
    