<div *ngFor="let condition of condition.conditions;let conditionIndex = index">
  <acp-logical-operator-interval  
  [logicialOperator]="condition.logicalOperator" [actionList]="intervalActions" [isCheckedAndOr]="getLogicialOperator(conditionIndex)"
  (selectedAction)="getSelectedAction($event,condition)" (isCheckedAndOrChange)="setLogicialOperator($event,conditionIndex)" >
    <div *ngFor="let compare of condition.compares;let compareIndex = index" cdkDrag>
      <acp-ui-predicat    
        [leftSideItem]="getSelectedItem(compare.leftHandSide)" [rightSideItem]="getSelectedItem(compare.rightHandSide)" [operatorItem]="getOperator(compare.operator)" [notOperator]="compare.notOperator"
        [listOfRightSideItems]="items" [listOfLeftSideItems]="items" [listOfOperators]="getOperators(compare)" 
        (deletePredicate)="deletePredicate(conditionIndex,compareIndex)"
        (leftSideItemChange)="setItem($event,compareIndex,conditionIndex,'left')"
        (rightSideItemChange)="setItem($event,compareIndex,conditionIndex,'right')"
        (operatorItemChange)="setItem($event,compareIndex,conditionIndex,'middle')"
        (notOperatorChange)="getNotOperator(compareIndex,conditionIndex)"
        (valueChange)="getInputChanges($event,compareIndex,conditionIndex)">
       <div class="left-side" leftSide>{{getSideItemValue(compare.leftHandSide)}}</div>
       <div class="right-side" rightSide>{{getSideItemValue(compare.rightHandSide)}}</div>

      </acp-ui-predicat>
    </div>
      <app-condition [condition]="condition" [items]="vocabularyList" ></app-condition>
  </acp-logical-operator-interval>
</div>
