<div (dblclick)="$event.stopPropagation()" class="node-workflow default-node" [ngClass]="{selected: model.selectSelected() | async,hovered: model.selectHovered() | async}"
(mouseover)="model.setHovered()" (mouseout)="model.setHovered(false)">
  <div class="node ruleset">
      <i class="node__icon icon-ruleset"></i>
      <ng-container *ngIf="model.selectExtras() | async as extras">
        <div class="node__label">
          <acp-ui-input class="form-control main-label" [(value)]="extras.display" bindLabel="extras.display"></acp-ui-input>
        </div>
      </ng-container>
  </div>
  <div class="condition-condition">
    <div class="condition-add">
      <div class="condition-add__left">
        <acp-ui-button title="When" [label]="'When'" [style]="'btn-primary pill'"></acp-ui-button>
      </div>
      <div class="condition-add__right">
      </div>
      </div>
      <div class="ports" [ngClass]="{'disable-port': status == false}">
        <ng-template #portsLayer></ng-template>
      </div>
      <div class="condition-content">
        <app-condition-composer [vocabularyList]="vocabularyList"></app-condition-composer>
      </div>
    </div>
      <hr>
      <acp-ui-button title="Then" [label]="'Then'" [style]="'btn-secondary pill'"></acp-ui-button>
      Choose an action
      <acp-ui-select class="mini-label" [items]="outputTypes"  bindValue="value" bindLabel="label"></acp-ui-select>

    </div>
  


